audiomentations==0.23.0
einops==0.4.1
lightning_bolts==0.5.0
numpy==1.21.5
pandas==1.4.1
perceiver_pytorch==0.8.3
pytorch_lightning==1.5.10
PyYAML==6.0
torch==1.10.2
torchaudio==0.10.2
torchmetrics==0.7.2
torchsummary==1.5.1
tqdm==4.63.0
transformers==4.17.0
